<!DOCTYPE html>
{{define "content"}}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <title>表管理界面</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/static/static/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/static/static/css/bootstrap-select.min.css">
    <link href="/static/static/css/tether.min.css" rel="stylesheet">
    <link href="/static/static/css/bootstrap-switch.css" rel="stylesheet">
    <link href="/static/static/css/index.css" rel="stylesheet">
    <!--<style type="text/css">-->
        <!--{{template "css"}}-->
    <!--</style>-->
    <style type="text/css">
        .wrapper .fresh-table .fixed-table-toolbar .dropdown-menu {
            max-height: inherit;
        }
    </style>
</head>

<body>
<div class="wrapper">
    <!--<div class="fresh-table full-color-orange full-screen-table">-->
<div id="LoginBox">
    <form class="form-inline" role="form" action="/login" method="post">
    <div class="row1">
        登陆网关<a href="javascript:void(0)" title="关闭窗口" class="close_btn" id="closeBtn">×</a>
    </div>
    <div class="row">
        用户名: <span class="inputBox">
                <input type="text" id="txtName" name="txtName" placeholder="账号/邮箱" />
            </span><a href="javascript:void(0)" title="提示" class="warning" id="warn">*</a>
    </div>
    <div class="row">
        密&nbsp;&nbsp;&nbsp;&nbsp;码: <span class="inputBox">
                <input type="password" id="txtPwd" name="txtPwd" placeholder="密码" />
            </span><a href="javascript:void(0)" title="提示" class="warning" id="warn2">*</a>
    </div >
        <div class="row">
            <input type="submit" class="btn btn-primary" value="登陆" id="loginbtn" ></input>
        </div>
    </form>
</div>
    <div class="page-content" style="padding: 20px;">
        <nav class=" full-color-orange">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">api表</a></li>
                    <li><a href="filter.html">filter表</a></li>
                    <li><a href="service.html">service表</a></li>
                    <li>
                        <form class="form-inline" role="form" id="uploadFile" name="uploadFile" action="/uploadFile" method="post" enctype="multipart/form-data">
                            <input type="file" name="fileUpload" class="file"/>
                            <input type="button" value="上传文件" id="upload"/>
                        </form>
                    </li>
                </ul>
                <a href="#" id="example" class="nav pull-right">{{.Name}}</a>
            </div>
        </nav>

        <div style="border: 1px solid #e0e0e0; padding: 10px 0;">
            <form class="form-inline" role="form" id="form1" action="/gateway/admin/add_api" method="post">
                    <input type="hidden" class="form-control" name="flag" id="flag" placeholder="不需要填写">
                    <input type="hidden" class="form-control" name="Api_Api_id" id="Api_Api_id" placeholder="不需要填写">
                <table class="fresh-table full-screen-table table">
                    <tr>
                        <td>
                            <div class="form-group  col-lg-3">
                                <label class="control-label" for="Api_name">name：</label>
                                <input type="text"class="form-control" name="Api_name" id="Api_name" placeholder="必须填写，operation名称">
                            </div>
                        </td>
                        <td>
                            <div class="form-group  col-lg-3">
                                <label class="control-label" for="Api_uri">uri：</label>
                                <input type="text" class="form-control" name="Api_uri" id="Api_uri" placeholder="必须填写，填写一个正则表达式，第一级为项目名称">
                                <input name="IfStr" id="IfStr" type="checkbox" value="" checked="checked"/>$
                            </div>
                        </td>
                        <td>
                            <div class="form-group  col-lg-3">
                                <label class="control-label" for="Api_method">method：</label>
                                <select name="Api_method" id="Api_method" class="selectpicker">
                                    <option value="POST">POST</option>
                                    <option value="GET">GET</option>
                                    <option value="*">*</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group  col-lg-3">
                                <label class="control-label" for="Api_need_login">need_login：</label>
                                <select name="Api_need_login" id="Api_need_login" class="selectpicker">
                                    <option value="0">不需要</option>
                                    <option value="1">需要</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group  col-lg-3">
                                <label class="control-label" for="Api_display_name">display_name：</label>
                                <input type="text" class="form-control" name="Api_display_name" id="Api_display_name" placeholder="可不填写，api显示的名称">
                            </div>
                        </td>
                        <td>
                            <div class="form-group  col-lg-3">
                                <label class="control-label" for="Api_status">status：</label>
                                <select name="Api_status" id="Api_status" class="selectpicker">
                                    <option value="0">不生效</option>
                                    <option value="1">生效</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group  col-lg-3">
                                <label class="control-label" for="Api_Service_id">service_id：</label>
                                <!--<select id="Api_Service_id" name="Api_Service_id" onchange="viewOrHide()" class="btn btn-warning" >-->
                                <select id="Api_Service_id" name="Api_Service_id" onchange="viewOrHide()" class="selectpicker" >
                                    {{range .ServiceData}}
                                    <!--<option value={{.ServiceId}} class="hselect">{{.Namespace}}.{{.Name}}:{{.Port}}</option>-->
                                    <option value={{.ServiceId}} >{{.Name}}.{{.Namespace}}:{{.Port}}</option>
                                    {{end}}
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group  col-lg-3">
                                <label class="control-label" for="Api_Service_Provider_name">Service_Provider_name：</label>
                                <input type="text" class="form-control" name="Api_Service_Provider_name" id="Api_Service_Provider_name" placeholder="thrift必填，ServiceName参数的值">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group  col-lg-3">
                                <label class="control-label" for="Api_mock">mock：</label>
                                <input type="hidden" class="form-control" name="Api_mock" id="Api_mock" placeholder="可不填写，填写json字符串，模拟http响应">
                                <button class="btn" data-toggle="modal"  data-target="#addUserModal" type="button">
                                    Click!
                                </button>
                            </div>
                        </td>
                        <td>
                            <div class="form-group  col-lg-3">
                                <label class="control-label" for="Api_desc">desc：</label>
                                <input type="text" class="form-control" name="Api_desc" id="Api_desc" placeholder="可不填写，描述api">
                            </div>
                        </td>
                        <td>
                            上传按钮上传从rap导出的文件，但是只自动填写uri和method，<br />其他的需要自己继续编辑。uri重复的不覆盖
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" align="center" valign="middle">
                            <div class="col-sm-12 btn-wrapper">
                                <input type="button" class="btn btn-primary" id="ajaxBtn" value="提交"></input>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <!--<table class="gridtable" id="ApiTable">-->
        <table class="fresh-table full-screen-table table" id="ApiTable">
            <thead>
                <tr>
                    <th data-sortable="true">name</th>
                    <th data-sortable="true">uri</th>
                    <th data-sortable="true">method</th>
                    <th data-sortable="true">need_login</th>
                    <th data-sortable="true">display_name</th>
                    <th data-sortable="true">status</th>
                    <th data-sortable="true">service_id</th>
                    <th data-sortable="true">service_provider_name</th>
                    <th data-sortable="true">mock</th>
                    <th data-sortable="true">desc</th>
                    <th data-sortable="true">ApiId</th>
                    <th >操作</th>
                </tr>
            </thead>
            <tbody>
            {{range .ApiData}}
                <tr id=tr-{{.ApiId}}>
                    <td >{{.Name}}</td>
                    <td >{{.Uri}}</td>
                    <td >{{.Method}}</td>
                    <td >{{.NeedLogin}}</td>
                    <td >{{.DisplayName}}</td>
                    <td >{{.Status}}</td>
                    <td >{{.ServiceId}}</td>
                    <td>{{.ServiceProviderName}}</td>
                    <td >{{.Mock}}</td>
                    <td >{{.Desc}}</td>
                    <td >{{.ApiId}}</td>
                    <td >
                        <button class="btn btn-xs" onclick="modifyData({{.ApiId}});">修改</button><button class="btn btn-xs" onclick="deleteData({{.ApiId}});">删除</button>
                    </td>
                </tr>
            {{end}}
            </tbody>
        </table>


        <!-- 模态框示例（Modal） -->
            <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                Mock
                            </h4>
                        </div>
                        <div class="modal-body">
                                <div class="form-group">
                                    <label for="MockValue" class="col-sm-3 control-label">Mock.Value</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="MockValue" name="MockValue"
                                               placeholder="Mock.Value">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="ContentType" class="col-sm-3 control-label">Mock.ContentType</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="ContentType" value="" id="ContentType"
                                               placeholder="Mock.ContentType">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Headers.key" class="col-sm-3 control-label">Mock.Headers</label>
                                    <div class="col-sm-9">
                                        <table id="MockHeaders">
                                            <th>key</th>
                                            <th>value</th>
                                            <tr>
                                                <td>
                                                    <input type="text" class="form-control" name="Headers.key" value="" id="Headers.key"
                                                           placeholder="Headers.key">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" name="Headers.value" value="" id="Headers.value"
                                                           placeholder="Headers.value">
                                                </td>
                                            </tr>
                                        </table>
                                        <p id="addTr1">添加</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Mock.Cookies</label>
                                    <div class="col-sm-9">
                                        <table id="mockCookies">
                                            <th>cookies</th>
                                            <tr>
                                                <td>
                                                    <input type="text" class="form-control" name="Mock.Cookies" value=""  id= 1
                                                           placeholder="Mock.Cookies">
                                                </td>
                                            </tr>
                                        </table>
                                        <p id="addTr2">添加</p>
                                    </div>
                                </div>
                            <div class="form-group">
                                <label for="clearMock" class="col-sm-3 control-label">清空</label>
                                    <input name="clearMock" id="clearMock" type="checkbox"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <button type="button" class="btn btn-primary" id="subMock">
                                保存
                            </button><span id="tip"> </span>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/static/js/jquery-3.2.1.min.js"></script>
    <script src="//cdn.bootcss.com/tether/1.3.6/js/tether.min.js"></script>
    <script src="/static/static/js/bootstrap-table.js"></script>
    <script src="/static/static/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <script src="/static/static/js/api.js"></script>
    <!--</div>-->
</div>
</body>

</html>
{{end}}