<!DOCTYPE html>
{{define "content"}}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>表管理界面</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/static/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/static/css/bootstrap-select.min.css">
    <link href="/static/static/css/tether.min.css" rel="stylesheet">
    <link href="/static/static/css/index.css" rel="stylesheet">
    <style type="text/css">
        .wrapper .fresh-table .fixed-table-toolbar .dropdown-menu {
            max-height: inherit;
        }
    </style>
</head>

<body>
<div class="wrapper">
    <!--<div class="fresh-table full-color-orange full-screen-table">-->
    <div class="page-content" style="padding: 20px;">
        <nav class="full-color-orange">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="api.html">api表</a></li>
                    <li class="active"><a href="#">filter表</a></li>
                    <li><a href="service.html">service表</a></li>
                </ul>
            </div>
        </nav>
        <div style="border: 1px solid #e0e0e0; padding: 10px 0;">
            <form class="form-inline" role="form" id="form2">
                <input type="hidden" id="Filter_id" name="Filter_id" value="" />
                <table class="fresh-table full-screen-table table">
                    <tr>
                        <td>
                            <div class="form-group  col-lg-2">
                                <label class="control-label" for="Filter_Api_id">api_id：</label>
                                <input type="text" class="form-control" id="Filter_Api_id" name="Filter_Api_id" vlaue="" placeholder="必须填写，-1所有api都执行，filter对应的api id">
                            </div>
                        </td>
                        <td>
                            <div class="form-group  col-lg-2">
                                <label class="control-label" for="Filter_name">name：</label>
                                <select id="Filter_name" name="Filter_name" class="selectpicker" >
                                    <option value="RIGHTS">RIGHTS</option>
                                    <option value="CORS">CORS</option>
                                    <option value="UPDATE_FLIGHT">UPDATE_FLIGHT</option>
                                    <option value="RESPONSE_HEAD">RESPONSE_HEAD</option>
                                    <option value="VISITCOUNT">VISITCOUNT</option>
                                    <option value="FILTERTEXT">FILTERTEXT</option>
                                    <option value="VISITOAUTH">VISITOAUTH</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group  col-lg-2">
                                <label class="control-label" for="Filter_seq">seq：</label>
                                <input type="text" class="form-control" id="Filter_seq" name="Filter_seq" vlaue="" placeholder="必须填写，表示filter执行次序">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" align="center" valign="middle">
                            <div class="col-sm-12 btn-wrapper">
                                <input type="button" class="btn btn-primary" id="ajaxBtn" value="提交"></input>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <table class="fresh-table full-screen-table table" id="FilterTable">
            <thead>
                <tr>
                    <th data-sortable="true">filter_id</th>
                    <th data-sortable="true">name</th>
                    <th data-sortable="true">api_id</th>
                    <th data-sortable="true">seq</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            {{range .FilterData}}
            <tr id=tr-{{.FilterId}}>
                <td>{{.FilterId}}</td>
                <td>{{.Name}}</td>
                <td>{{.ApiId}}</td>
                <td>{{.Seq}}</td>
                <td class="operation">
                    <button class="btn btn-xs" onclick="modifyData({{.FilterId}});">修改</button><button class="btn btn-xs" onclick="deleteData({{.FilterId}});">删除</button>
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/static/js/jquery-3.2.1.min.js"></script>
    <script src="//cdn.bootcss.com/tether/1.3.6/js/tether.min.js"></script>
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>-->
    <script src="/static/static/js/bootstrap-table.js"></script>
    <script src="/static/static/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <script src="/static/static/js/filter.js"></script>
    <script>
        $(function() {
            //ajax提交
            $("#ajaxBtn").click (function () {
                console.log("ajax submit")
                console.log("Name="+{{.Name}})
                if ({{.Name}} == '登陆')
                {
                    alert("请登陆！！！！！！！！")
                    return false
                }

                with ($("#form2"))
                {
                    if (validate_required(Filter_seq,"seq 不能为空且只能为数字!")==false) {
                        Filter_seq.focus();
                        return false
                    }
                    if (validate_required(Filter_Api_id,"Api_id 不能为空且只能为数字!")==false) {
                        Filter_Api_id.focus();
                        return false
                    }
                }
                var params = $("#form2").serialize();
                console.log(params)
                $.ajax({
                    type: "POST",
                    url: "/gateway/admin/add_filter",
                    data: params,
                    success: function (msg) {
                        location.reload()
                    }
                });
            })
        })
    </script>
    <!--</div>-->
</div>
</body>

</html>
{{end}}