{{define "css"}}
table.gridtable {
    width:100%;
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table.gridtable th {
    border-width: 1px;
    width:10%;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table.gridtable td {
    border-width: 1px;
    width:10%;
    padding: 8px;
    border-style: solid;
    border-color: #ffd8e4;
    /*border-color: #666666;*/
    background-color: #c7edcc;
    text-align:center;
    vertical-align:middle;
}

{{end}}