<!DOCTYPE html>
{{define "content"}}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <title>表管理界面</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <link href="//cdn.bootcss.com/tether/1.3.6/css/tether.min.css" rel="stylesheet">
    <style type="text/css">
        {{template "css"}}
    </style>
    <style type="text/css">
        .wrapper .fresh-table .fixed-table-toolbar .dropdown-menu {
            max-height: inherit;
        }
    </style>
</head>

<body>
<div class="wrapper">
    <!--<div class="fresh-table full-color-orange full-screen-table">-->
    <div class="page-content" style="padding: 20px;">
        <nav class="full-color-orange">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="api.html">api表</a></li>
                    <li><a href="filter.html">filter表</a></li>
                    <li class="active"><a href="#">service表</a></li>
                </ul>
            </div>
        </nav>

        <div style="border: 1px solid #e0e0e0; padding: 10px 0;">
            <form class="form-inline" role="form" id="form3">
                <input type="hidden" id="Service_id" name="Service_id" value="" />
                <table class="fresh-table full-screen-table table">
                    <tr>
                        <td>
                            <div class="form-group  col-lg-2">
                                <label class="control-label" for="Service_namespace">namespace：</label>
                                <input type="text" class="form-control" id="Service_namespace" name="Service_namespace" vlaue="" placeholder="测试时，可不填写，参考k8s的namespace">
                            </div>
                        </td>
                        <td>
                            <div class="form-group  col-lg-2">
                                <label class="control-label" for="Service_name">name：</label>
                                <input type="text" class="form-control" id="Service_name" name="Service_name" vlaue="" placeholder="必须填写，当作域名">
                            </div>
                        </td>
                        <td>
                            <div class="form-group  col-lg-2">
                                <label class="control-label" for="Service_desc">desc：</label>
                                <input type="text" class="form-control" id="Service_desc" name="Service_desc" vlaue="" placeholder="可不填写，描述service">
                            </div>
                        </td>
                        <td>
                            <div class="form-group  col-lg-2">
                                <label class="control-label" for="Service_port">port：</label>
                                <input type="text" class="form-control" id="Service_port" name="Service_port" vlaue="" placeholder="必须填写，后端服务的端口">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group  col-lg-2">
                                <label class="control-label" for="Service_protocol">protocol：</label>
                                <select id="Service_protocol" name="Service_protocol" class="selectpicker" >
                                    <option value="http">http</option>
                                    <option value="thrift">thrift</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" align="center" valign="middle">
                            <div class="col-sm-12 btn-wrapper">
                                <input type="button" class="btn btn-primary" id="ajaxBtn" value="提交"></input>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <table class="fresh-table full-screen-table table" id="ServiceTable">
            <thead>
                <tr>
                    <th data-sortable="true">service_id</th>
                    <th data-sortable="true">namespace</th>
                    <th data-sortable="true">name</th>
                    <th>desc</th>
                    <th data-sortable="true">port</th>
                    <th data-sortable="true">protocol</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            {{range .ServiceData}}
            <tr id=tr-{{.ServiceId}}>
                <td>{{.ServiceId}}</td>
                <td>{{.Namespace}}</td>
                <td>{{.Name}}</td>
                <td>{{.Desc}}</td>
                <td>{{.Port}}</td>
                <td>{{.Protocol}}</td>
                <td class="operation">
                    <button class="btn btn-xs" onclick="modifyData({{.ServiceId}});">修改</button><button class="btn btn-xs" onclick="deleteData({{.ServiceId}});">删除</button>
                </td>
            </tr>
            {{end}}
            </tbody>
        </table> 
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
     <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
     <script src="//cdn.bootcss.com/tether/1.3.6/js/tether.min.js"></script>
     <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
     <script src="//cdn.bootcss.com/bootstrap/4.0.0-alpha.5/js/bootstrap.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <script>
        function validate_name_and_port_required(field1,field2,field3,field4,alerttxt) {
            var IfRepeat=false;
            var tableObj = document.getElementById("ServiceTable");
            console.log("tableObj="+tableObj.rows.length);
            for (var i = 1; i < tableObj.rows.length; i++) {//遍历Table的所有Row
                serviceNameSpace = tableObj.rows[i].cells[1].innerText;
                serviceName = tableObj.rows[i].cells[2].innerText;   //获取Table中单元格的内容
                servicePort = tableObj.rows[i].cells[4].innerText;
                serviceId = tableObj.rows[i].cells[0].innerText;
                console.log("serviceName="+serviceName+"   servicePort="+servicePort)
                if (serviceNameSpace==field1.value&&serviceName==field2.value&&servicePort==field3.value&&serviceId!=field4.value) {
                    IfRepeat = true;
                    break;
                }
            }
            if (IfRepeat) {
                alert(alerttxt);
                return false
            } else {
                return true
            }
        }
        function validate_port_required(field,alerttxt)
        {
            with (field)
            {
                var patt = /^[0-9]*$/;
                var result = patt.test(value);
                if (value==null||value==""||!result) {
                    alert(alerttxt);
                    return false
                } else {
                    return true
                }
            }
        }
        function validate_name_required(field,alerttxt)
        {
            with (field)
            {
                if (value==null||value=="") {
                    alert(alerttxt);
                    return false
                } else {
                    return true
                }
            }
        }
        $(function() {
            //ajax提交
            $("#ajaxBtn").click (function () {
                console.log("ajax submit")
                if ({{.Name}} == '登陆')
                {
                    alert("请登陆！！！！！！！！")
                    return false
                }
                with ($("#form3"))
                {
                    if (validate_name_required(Service_name,"Service_name 不能为空!")==false) {
                        Service_name.focus();
                        return false
                    }
                    if (validate_port_required(Service_port,"Service_port 不能为空且只能为数字!")==false) {
                        Service_port.focus();
                        return false
                    }
                    if(validate_name_and_port_required(Service_namespace,Service_name,Service_port,Service_id,"service重复了，请重新配置")==false)
                    {
                        Service_namespace.focus();
                        return false
                    }
                }
                var params = $("#form3").serialize();
                $.ajax({
                    type: "POST",
                    url: "/gateway/admin/add_service",
                    data: params,
                    success: function (msg) {
                        location.reload()
                    }
                });
            })
        })
        function modifyData(id) {
            var tdArray = document.querySelectorAll('#ServiceTable #tr-'+id+' td:not(.operation)');
            $('#Service_id').val(tdArray[0].innerText);
            $('#Service_namespace').val(tdArray[1].innerText);
            $('#Service_name').val(tdArray[2].innerText);
            $('#Service_desc').val(tdArray[3].innerText);
            $('#Service_port').val(tdArray[4].innerText);
            $('#Service_protocol').val(tdArray[5].innerText);
            document.getElementById("Service_namespace").focus();
        }

        var xmlobj; //定义XMLHttpRequest对象
        function CreateXMLHttpRequest()
        {
            if(window.ActiveXObject)
//如果当前浏览器支持Active Xobject，则创建ActiveXObject对象
            {
                //xmlobj = new ActiveXObject("Microsoft.XMLHTTP");
                try {
                    xmlobj = new ActiveXObject("Msxml2.XMLHTTP");
                } catch (e) {
                    try {
                        xmlobj = new ActiveXObject("Microsoft.XMLHTTP");
                    } catch (E) {
                        xmlobj = false;
                    }
                }
            }
            else if(window.XMLHttpRequest)
//如果当前浏览器支持XMLHttp Request，则创建XMLHttpRequest对象
            {
                xmlobj = new XMLHttpRequest();
            }
        }
        function deleteData(id) {
            if(confirm('您确定删除这行数据吗？')) {
                console.log('执行删除操作');
                CreateXMLHttpRequest(); //创建对象
                var parm = "Service_id=" + id;//构造URL参数
                //xmlobj.open("POST", "{dede:global.cfg_templeturl/}/../include/weather.php", true); //调用weather.php
                xmlobj.open("POST", "/gateway/admin/delete_service", true); //调用weather.php
                xmlobj.setRequestHeader("cache-control","no-cache");
                xmlobj.setRequestHeader("contentType","text/html;charset=uft-8"); //指定发送的编码
                xmlobj.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;");  //设置请求头信息
//                xmlobj.onreadystatechange = StatHandler;  //判断URL调用的状态值并处理
                xmlobj.send(parm); //设置为发送给服务器数据
                location.reload()
            }
        }








        var $table = $('#ServiceTable'),
            $alertBtn = $('#alertBtn'),
            full_screen = false,
            window_height;

        $().ready(function(){

            window_height = $(window).height();
            table_height = window_height - 20;


            $table.bootstrapTable({
                toolbar: ".toolbar",

                showRefresh: false,
                search: true,
                showToggle: false,
                showColumns: true,
                pagination: true,
                striped: true,
                sortable: true,
                height: table_height,
                pageSize: 100000,
                pageList: [25,50,100,100000],
                icons: {
                    refresh: 'fa fa-refresh',
                    toggle: 'fa fa-th-list',
                    columns: 'fa fa-columns',
                    detailOpen: 'fa fa-plus-circle',
                    detailClose: 'fa fa-minus-circle'
                }
            });

            $(window).resize(function () {
                $table.bootstrapTable('resetView');
            });
        });
    </script>
    <!--</div>-->
</div>
</body>

</html>
{{end}}