<!DOCTYPE html>
{{define "content"}}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <title>表管理界面</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/static/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/static/css/bootstrap-select.min.css">
    <link href="/static/static/css/tether.min.css" rel="stylesheet">
    <link href="/static/static/css/index.css" rel="stylesheet">
    <!--<style type="text/css">-->
        <!--{{template "css"}}-->
    <!--</style>-->
    <style type="text/css">
        .wrapper .fresh-table .fixed-table-toolbar .dropdown-menu {
            max-height: inherit;
        }
    </style>
</head>

<body>
<div class="wrapper">
    <!--<div class="fresh-table full-color-orange full-screen-table">-->
    <div class="page-content" style="padding: 20px;">
        <nav class="full-color-orange">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="api.html">api表</a></li>
                    <li><a href="filter.html">filter表</a></li>
                    <li class="active"><a href="#">service表</a></li>
                </ul>
            </div>
        </nav>

        <div style="border: 1px solid #e0e0e0; padding: 10px 0;">
            <form class="form-inline" role="form" id="form3">
                <input type="hidden" id="Service_id" name="Service_id" value="" />
                <table class="fresh-table full-screen-table table">
                    <tr>
                        <td>
                            <div class="form-group  col-lg-2">
                                <label class="control-label" for="Service_namespace">namespace：</label>
                                <input type="text" class="form-control" id="Service_namespace" name="Service_namespace" vlaue="" placeholder="测试时，可不填写，参考k8s的namespace">
                            </div>
                        </td>
                        <td>
                            <div class="form-group  col-lg-2">
                                <label class="control-label" for="Service_name">name：</label>
                                <input type="text" class="form-control" id="Service_name" name="Service_name" vlaue="" placeholder="必须填写，当作域名">
                            </div>
                        </td>
                        <td>
                            <div class="form-group  col-lg-2">
                                <label class="control-label" for="Service_desc">desc：</label>
                                <input type="text" class="form-control" id="Service_desc" name="Service_desc" vlaue="" placeholder="可不填写，描述service">
                            </div>
                        </td>
                        <td>
                            <div class="form-group  col-lg-2">
                                <label class="control-label" for="Service_port">port：</label>
                                <input type="text" class="form-control" id="Service_port" name="Service_port" vlaue="" placeholder="必须填写，后端服务的端口">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group  col-lg-2">
                                <label class="control-label" for="Service_protocol">protocol：</label>
                                <select id="Service_protocol" name="Service_protocol" class="selectpicker" >
                                    <option value="http">http</option>
                                    <option value="thrift">thrift</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" align="center" valign="middle">
                            <div class="col-sm-12 btn-wrapper">
                                <input type="button" class="btn btn-primary" id="ajaxBtn" value="提交"></input>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <table class="fresh-table full-screen-table table" id="ServiceTable">
            <thead>
                <tr>
                    <th data-sortable="true">service_id</th>
                    <th data-sortable="true">namespace</th>
                    <th data-sortable="true">name</th>
                    <th>desc</th>
                    <th data-sortable="true">port</th>
                    <th data-sortable="true">protocol</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            {{range .ServiceData}}
            <tr id=tr-{{.ServiceId}}>
                <td>{{.ServiceId}}</td>
                <td>{{.Namespace}}</td>
                <td>{{.Name}}</td>
                <td>{{.Desc}}</td>
                <td>{{.Port}}</td>
                <td>{{.Protocol}}</td>
                <td class="operation">
                    <button class="btn btn-xs" onclick="modifyData({{.ServiceId}});">修改</button><button class="btn btn-xs" onclick="deleteData({{.ServiceId}});">删除</button>
                </td>
            </tr>
            {{end}}
            </tbody>
        </table> 
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
     <script src="/static/static/js/jquery-3.2.1.min.js"></script>
     <script src="//cdn.bootcss.com/tether/1.3.6/js/tether.min.js"></script>
     <script src="/static/static/js/bootstrap-table.js"></script>
     <script src="/static/static/js/bootstrap.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <script src="/static/static/js/service.js"></script>
    <script>
        $(function() {
            //ajax提交
            $("#ajaxBtn").click (function () {
                console.log("ajax submit")
                if ({{.Name}} == '登陆')
                {
                    alert("请登陆！！！！！！！！")
                    return false
                }
                with ($("#form3"))
                {
                    if (validate_name_required(Service_name,"Service_name 不能为空!")==false) {
                        Service_name.focus();
                        return false
                    }
                    if (validate_port_required(Service_port,"Service_port 不能为空且只能为数字!")==false) {
                        Service_port.focus();
                        return false
                    }
                    if(validate_name_and_port_required(Service_namespace,Service_name,Service_port,Service_id,"service重复了，请重新配置")==false)
                    {
                        Service_namespace.focus();
                        return false
                    }
                }
                var params = $("#form3").serialize();
                $.ajax({
                    type: "POST",
                    url: "/gateway/admin/add_service",
                    data: params,
                    success: function (msg) {
                        location.reload()
                    }
                });
            })
        })
    </script>
    <!--</div>-->
</div>
</body>

</html>
{{end}}